.section {
    margin: 0;
    display:flex;
    background-image: url("hero-3-bg.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center;
    background-size: cover;
  }

.container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
  }